ROOT_CHICKEN_EGGS_DIR={{ nfs_mountpoint }}

# Influx DB
INFLUXDB_DATA={{ nfs_mountpoint }}/data/influxdb2
INFLUXDB_PASS={{ influxdb_pass }}

# NEXTCLOUD_DIR={{ nfs_mountpoint }}/data/nextcloud-data
CONFIG={{ nfs_mountpoint }}/configs
DOWNLOAD={{ nfs_mountpoint }}/Downloads
SABDOWNLOAD={{ nfs_mountpoint }}/sabdownloads
MOVIES={{ nfs_mountpoint }}/media/Movies
TVSERIES={{ nfs_mountpoint }}/media/TV_Series
INCOMPLETE={{ nfs_mountpoint }}/Downloads/incomplete-download-sab/

TIMEZONE=Pacific/Auckland
PIHOLE_PASS={{ pihole_pass }}
PUID=1000
PGID=1000
