# This file is simply the effect of running
# `systemctl edit telegraf.service`
#
# This is what file would look like,
# any other attributes not specified would still
# retain its default value. i.e. not overridden

[Unit]
After=docker.service

[Service]
ExecStart=
ExecStart={{ scripts_directory }}/start_telegraph.sh
