PI_HOST={{ pi_host }}

# TrueNAS
TRUENAS_API_TOKEN={{ truenas_api_token }}

# PI hole luks passphrase
LUKS_PASS={{ luks_pass }}

# Restic
RESTIC_REPOSITORY="{{ backblaze_repo }}"
RESTIC_PASSWORD="{{ restic_password }}"
MOUNTPOINT="{{ mountpoint }}"
RESTIC_DIRECTORY="{{ restic_directory }}"

B2_ACCOUNT_ID="{{ backblaze_app_id }}"
B2_ACCOUNT_KEY="{{ backblaze_app_key }}"
