name: Build
on: [push]
jobs:
  bootstrap_and_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - run: ls -ltr

      - name: Install Task
        uses: arduino/setup-task@v1

      - run: task bootstrap

      - run: task lint
